<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeighCoilServerDD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WeighCoilServerDD.Properties.Settings>
            <setting name="RabbitMQHost" serializeAs="String">
                <value>192.168.0.69</value>
            </setting>
            <setting name="RabbitMQPort" serializeAs="String">
                <value>5672</value>
            </setting>
            <setting name="RabbitMQUser" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="RabbitMQPassword" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="RabbitMQRouting" serializeAs="String">
                <value>weighing_queue</value>
            </setting>
            <setting name="DbHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DbPort" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>weighing_db</value>
            </setting>
            <setting name="DbUser" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="MaxConnections" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoStartServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Info</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="Exchanges" serializeAs="String">
                <value>weighing</value>
            </setting>
            <setting name="AutoStartRabbitMQ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
        </WeighCoilServerDD.Properties.Settings>
    </userSettings>
</configuration>